{% extends 'events/base.html' %}

{% block collection_detail %}

<h1 class="text-center">{{ collection.collection_name }}</h1>

<section class="cd-horizontal-timeline">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          {% for memory in user_memories %}
            {% if user_memories.0 == memory %}
              <li><a href="#0" data-date="{{memory.memory_date|date:'d/m/Y'}}" class="selected">{{memory.memory_name}}</a></li>
            {% else %}
              <li><a href="#0" data-date="{{memory.memory_date|date:'d/m/Y'}}">{{memory.memory_name}}</a></li>
            {% endif %}
          {% endfor %}
        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div> <!-- .events -->
    </div> <!-- .events-wrapper -->
      
    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul> <!-- .cd-timeline-navigation -->
  </div> <!-- .timeline -->

  <div class="events-content">
    <ol>
      {% for memory in user_memories %}
        {% if user_memories.0 == memory %}
          <li data-date="{{memory.memory_date|date:'d/m/Y'}}" class="selected">
            <h2>{{memory.memory_name}}</h2>
            <em>{{memory.memory_date}}</em>
            <p>{{memory.memory_details}}</p>
          </li>
        {% else %}
          <li data-date="{{memory.memory_date|date:'d/m/Y'}}">
            <h2>{{memory.memory_name}}</h2>
            <em>{{memory.memory_date}}</em>
            <p>{{memory.memory_details}}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </div> <!-- .events-content -->
</section>

<script src="/static/js/jquery-2.1.4.js"></script>
<script src="/static/js/jquery.mobile.custom.min.js"></script>
<script src="/static/js/main.js"></script> <!-- Resource jQuery -->

{% endblock %}