{% extends 'events/base.html' %}

{% block collection_detail %}

<h1 class="text-center">{{ collection.collection_name }}</h1>

<section class="cd-horizontal-timeline">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          {% for memory in user_memories %}
          <li><a href="#0" data-date="{{memory.memory_date}}">{{memory.memory_name}}</a></li>
          {% endfor %}
        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div> <!-- .events -->
    </div> <!-- .events-wrapper -->
      
    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul> <!-- .cd-timeline-navigation -->
  </div> <!-- .timeline -->

  <div class="events-content">
    <ol>
      {% for memory in user_memories %}
      <li data-date="{{memory.memory_date}}">
        <h2>{{memory.memory_name}}</h2>
        <em>{{memory.memory_date}}</em>
        <p>{{memory.memory_details}}</p>
      </li>
      {% endfor %}
    </ol>
  </div> <!-- .events-content -->
</section>

{% endblock %}